body, html {
  height: 100%;
  min-height: 100%;
  background-color: #f0e0c8;
  color: #614526;
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }

main {
  overflow-x: hidden; }

.top-layer {
  z-index: 10000;
  -webkit-box-shadow: 3px 6px 3px 0px rgba(34, 34, 34, 0.5);
  -moz-box-shadow: 3px 6px 3px 0px rgba(34, 34, 34, 0.5);
  box-shadow: 3px 6px 3px 0px rgba(34, 34, 34, 0.5); }

.loading {
  background: url("../images/ico_loading.gif") no-repeat center center; }

section,
aside {
  opacity: 0; }

.loaded section,
.no-js section,
.loaded aside,
.no-js aside {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-out;
  -moz-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out; }

#preload {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0; }

section {
  min-height: 600px;
  overflow: hidden;
  position: relative;
  z-index: 10; }
  section .bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
    width: 100%; }

#slide-1 .bg {
  background-image: url(../images/bg/fence.jpg); }

#slide-2 .bg {
  background-image: url(../images/bg/dd-stage.jpg); }

#slide-3 .bg {
  background-image: url(../images/bg/bw.jpg); }

#slide-4 .bg {
  background-image: url(../images/bg/dd-2.jpg); }

aside {
  position: relative;
  background-color: #b49476;
  margin-top: -75px;
  margin-bottom: -75px;
  min-height: 150px;
  text-align: center;
  z-index: 100; }
  aside p {
    padding: 20px;
    font-size: 20px;
    line-height: 1.5em; }

nav {
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  min-height: 30px; }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  nav li {
    color: #222222;
    min-height: 30px;
    margin: 0;
    padding: 0;
    float: left;
    width: 25%; }
    nav li:nth-child(1) {
      background-color: #614526; }
    nav li:nth-child(2) {
      background-color: #8a5f36; }
    nav li:nth-child(3) {
      background-color: #b49476; }
    nav li:nth-child(4) {
      background-color: #f0e0c8; }
  nav a {
    color: #222222;
    display: block;
    text-decoration: none;
    padding: 0.5em; }
