#banner {

  position: fixed;
  right: -60%;
  z-index: 1000;
  opacity: 0.75;
  padding-top: $nav-height * 1.5;
  width: $banner-width * 1.5;

  -webkit-transition: right 500ms ease;
  -moz-transition: right 500ms ease;
  -o-transition: right 500ms ease;
  transition: right 0.5s ease;

  &.active {
    right: -40px;
  }
 
  img {
    max-width: 100%;
  }

}

@media only screen and (min-width: $breakpoint-large) {

  #banner {
    right: -50%;
    width: $banner-width;
  }

} 