
#banner {

  opacity: 0.75;
  padding-top: $nav-height * 2;
  width: $banner-width * 2;
 
  img {
    max-width: 100%;
  }

}


@media only screen and (min-width: $breakpoint) {

  #banner {
    position: fixed;
    right: -50%;
    width: $banner-width;
    z-index: 1000;

    -webkit-transition: right 500ms ease;
    -moz-transition: right 500ms ease;
    -o-transition: right 500ms ease;
    transition: right 0.5s ease;

    &.active {
      right: -40px;
    }

  }

} 