.loading {
  background: url('../images/ico_loading.gif') no-repeat center center;
}
section,
aside {
  opacity: 0;
}
.loaded section,
.no-js section,
.loaded aside,
.no-js aside {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-out;
  -moz-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}

#preload {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
