#player {
  position: fixed;
  right: -300px;
  top: 140px;
  z-index: 1000;
  width: 300px;

  -webkit-transition: right 500ms ease;
  -moz-transition: right 500ms ease;
  -o-transition: right 500ms ease;
  transition: right 0.5s ease;

  &.active {
    right: -5px;
  }

  .albums {
    margin-right: $base-unit;
    text-align: right;
  }

  h4 { 
    background: $color-black;
    color: $color-tan-light;
    display: inline-block;
    font-size: $base-font-size - 3px;
    margin: 0 0 $base-unit-quarter;
    padding: $base-unit-quarter;

    @include border-radius(3px);
  }

  img {
    width: 60px;
    height: 60px;
  }

}

@media only screen and (min-width: $breakpoint-large) {

  #player {
    right: -50%;
  }
}
