#player {
  position: fixed;
  right: -300px;
  top: 140px;
  z-index: 1000;
  width: 300px;

  -webkit-transition: right 500ms ease;
  -moz-transition: right 500ms ease;
  -o-transition: right 500ms ease;
  transition: right 0.5s ease;

  &.active {
    right: -5px;
  }

}

@media only screen and (min-width: $breakpoint) {

  #player {
    right: -50%;
  }
}
