#shows {
  background-color: $color-brown;
  overflow: hidden;
  position: fixed;
  height: $shows-height;
  top: -$shows-height;
  text-align: center;
  width: 100%;
  z-index: 1000;

  -webkit-transition: top 500ms ease;
  -moz-transition: top 500ms ease;
  -o-transition: top 500ms ease;
  transition: top 0.5s ease;

  .show {
    float: left;
    padding: $base-unit;
    width: 25%;

    h2 {
      font-size: 14px;
      padding: 0;
      margin: 0;
    }

    p, a {
      font-size: 12px;
      padding: 0;
      margin: 0;
    }
  }

  &.active {
    top: $nav-height;
    -webkit-box-shadow: 3px 6px 3px 0px rgba(34,34,34,0.5);
    -moz-box-shadow: 3px 6px 3px 0px rgba(34,34,34,0.5);
    box-shadow: 3px 6px 3px 0px rgba(34,34,34,0.5);
  }

}


@media only screen and (min-width: $breakpoint) {

  #shows {
    height: $shows-height-fullscreen;
    top: -$shows-height-fullscreen;
  }
}

