#shows {
  background-color: $color-brown;
  overflow: hidden;
  position: fixed;
  height: $shows-height;
  top: -$shows-height;
  text-align: center;
  width: 100%;
  z-index: 1000;

  -webkit-transition: top 500ms ease;
  -moz-transition: top 500ms ease;
  -o-transition: top 500ms ease;
  transition: top 0.5s ease;

  .show {
    background-color: $color-tan-light;
    color: $color-black;
    cursor: pointer;
    display: block;
    float: left;
    margin: 1%;
    padding: $base-unit $base-unit-quarter;
    text-decoration: none;
    width: 23%;

    -webkit-transition: background-color 500ms ease;
    -moz-transition: background-color 500ms ease;
    -o-transition: background-color 500ms ease;
    transition: background-color 0.5s ease;

    @include border-radius(5px);

    &:hover {
      background-color: $color-tan;
    }
  }

  h2 {
    font-size: 12px;
    line-height: 14px;
    padding: 0;
    margin: 0;
  }

  p, a {
    font-size: 11px;
    line-height: 12px;
    padding: 0;
    margin: 0;
  }

  &.active {
    top: $nav-height;
    -webkit-box-shadow: 3px 6px 3px 0px rgba(34,34,34,0.5);
    -moz-box-shadow: 3px 6px 3px 0px rgba(34,34,34,0.5);
    box-shadow: 3px 6px 3px 0px rgba(34,34,34,0.5);
  }

}


@media only screen and (min-width: $breakpoint-large) {

  #shows {
    height: $shows-height-fullscreen;
    top: -$shows-height-fullscreen;
 
    h2 {
      font-size: 14px;
      line-height: 16px;
    }

    p, a {
      font-size: 13px;
      line-height: 15px;
    }

  }

}

