// Page Slides
section { 
  min-height: $section-height;
  overflow: hidden;
  position: relative;
  z-index: 10;

  .bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: $section-height;
    width: 100%;
  }

}

#slide-1 .bg {
  background-image: url(../images/bg/dd-stage.jpg);
}

#slide-2 .bg {
  background-image: url(../images/bg/adam.jpg);
}

#slide-3 .bg {
  background-image: url(../images/bg/bw.jpg);
}

#slide-4 .bg {
  background-image: url(../images/bg/fence.jpg);
}


aside {
  position: relative;
  background-color: $color-tan;
  border-top: 3px solid $color-black;
  border-bottom: 3px solid $color-black;
  font-size: 13px;
  font-style: italic;
  margin-top: -$aside-height;
  margin-bottom: -$aside-height / 2;
  min-height: $aside-height;
  padding: 10px 0;
  text-align: center;
  z-index: 100;

  p {
    padding: 0 $banner-width / 2;
    line-height: 1.5em;
  }
}

@media only screen and (min-width: $breakpoint) {
  aside {
    font-size: 15px;
  }
}